body, html {
    background: #228ada;
}
.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #ffffff;
}

.login h1 a {
    background-image: url('logo-white-wp.png');
    -webkit-background-size: 84px;
    background-size: 113px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
    height: 89px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 132px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.login #login_error, .login .message {
    border-left: 4px solid #1fc354;
    padding: 12px;
    margin-left: 0;
    background-color: #333333;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    color: white;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    border: solid;
    border-color: rgba(72, 72, 72, 0.7);
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
    color: #1b1b1b;
}

div#login {
    margin-top: -50px;
}

.aweos {
    color: #ffffff;
    text-decoration: none;
    background-color: #333333;
    padding: 1em 1.2em 1em 1.2em;
    border-radius: 2px;
    font-weight:bold;
    transition: 400ms all;
    text-transform: uppercase;
}

.werbeagentur {
    text-align: center;
    padding-top: 2.5em;
    color: white;
}

a.aweos:hover {
    color: #228ADA;
    background-color: white;
    transition: 400ms all;
}

#login a {
    color: white;
}